doctype html5
html(lang='en')
    head
        title koa-render
    body
        h1 This is #{message} Sample
        form(action='/views',method='POST')
            input(type='text', name='NAME')
            input(type='text', name='ADDR')
            input(type='submit', value='send')

